@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p> Our powerful Web App empower individuals and business owners to manage Human Resource on thie website. Whether you're a beginner or expert, we're excited to help you on your journey!.</p>
