@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Av. Maximo Gomez #72<br />
    Santo Domingo<br />
    <abbr title="Phone">P:</abbr>
    809.686.0021
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@stak.do">Support@stak.do</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@stak.do">Marketing@stak.do</a>
</address>