@{
    ViewBag.Title = "Home Page";
}


@*<div class="jumbotron">
    <h1 style="text-align:center">Human Resource Management System</h1> <br>

</div>*@

<div>
   

    <center>
        <img src="~/Content/HR-Human-Resources-Management.jpg" alt="centered image" height="598" width="100%">

    </center>

    <br> <br>
    <p class="lead" style="text-align:center">This Web Application allows you to manage the human resources of your company in a fast and effective way...</p>
    <br>
    <p class="lead" style="text-align:center">Please <a href="/Account/Register">Register</a> or <a href="/Account/Login">Log in</a> to continue</p>

</div>