USE [master]
GO
/****** Object:  Database [GHDB]    Script Date: 6/17/2021 5:51:08 PM ******/
CREATE DATABASE [GHDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GHDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\GHDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'GHDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\GHDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GHDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GHDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 6/17/2021 5:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 6/17/2021 5:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 6/17/2021 5:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 6/17/2021 5:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 6/17/2021 5:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 6/17/2021 5:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tdepts]    Script Date: 6/17/2021 5:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tdepts](
	[IDDept] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_tdepts] PRIMARY KEY CLUSTERED 
(
	[IDDept] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[temployees]    Script Date: 6/17/2021 5:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[temployees](
	[IDEmployees] [int] IDENTITY(1,1) NOT NULL,
	[RealID] [numeric](15, 0) NOT NULL,
	[FName] [varchar](50) NOT NULL,
	[LName] [varchar](50) NOT NULL,
	[IDJobs] [int] NOT NULL,
	[IDDept] [int] NOT NULL,
	[Salary] [money] NOT NULL,
	[IDSkills] [int] NOT NULL,
	[IDTraining] [int] NOT NULL,
	[IDExp] [int] NOT NULL,
	[IDLangs] [int] NOT NULL,
	[Recommended] [text] NULL,
	[IDType] [int] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_temployees] PRIMARY KEY CLUSTERED 
(
	[IDEmployees] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[texps]    Script Date: 6/17/2021 5:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[texps](
	[IDExp] [int] IDENTITY(1,1) NOT NULL,
	[JobName] [varchar](50) NOT NULL,
	[Place] [varchar](50) NOT NULL,
	[FromDate] [date] NOT NULL,
	[ToDate] [date] NOT NULL,
	[Salary] [money] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_texps] PRIMARY KEY CLUSTERED 
(
	[IDExp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tjobs]    Script Date: 6/17/2021 5:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tjobs](
	[IDJobs] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[IDRisk] [int] NOT NULL,
	[MinSalary] [money] NOT NULL,
	[MaxSalary] [money] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_tjobs] PRIMARY KEY CLUSTERED 
(
	[IDJobs] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tlangs]    Script Date: 6/17/2021 5:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tlangs](
	[IDLangs] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_tlangs] PRIMARY KEY CLUSTERED 
(
	[IDLangs] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tlevel]    Script Date: 6/17/2021 5:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tlevel](
	[IDLevel] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_tlevel] PRIMARY KEY CLUSTERED 
(
	[IDLevel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[trisks]    Script Date: 6/17/2021 5:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[trisks](
	[IDRisk] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_trisks] PRIMARY KEY CLUSTERED 
(
	[IDRisk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tskills]    Script Date: 6/17/2021 5:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tskills](
	[IDSkills] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_tskills] PRIMARY KEY CLUSTERED 
(
	[IDSkills] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ttrainings]    Script Date: 6/17/2021 5:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ttrainings](
	[IDTraining] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[IDLevel] [int] NOT NULL,
	[FromDate] [date] NOT NULL,
	[ToDate] [date] NOT NULL,
	[Place] [varchar](50) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_ttrainings] PRIMARY KEY CLUSTERED 
(
	[IDTraining] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ttype]    Script Date: 6/17/2021 5:51:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ttype](
	[IDType] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_ttype] PRIMARY KEY CLUSTERED 
(
	[IDType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'58affdb6-3885-4035-8c29-85e57e038f08', N'AB1@CC.NET', 0, N'AKZHFx1GIbMI0msnHW/rXxLeJIUEkcyIPvONU6Bv//NPSLCN/rNy6srSffygs0pi4w==', N'9e487c46-1489-487f-8b62-4c60f7074af0', NULL, 0, 0, NULL, 1, 0, N'AB1@CC.NET')
SET IDENTITY_INSERT [dbo].[tdepts] ON 

INSERT [dbo].[tdepts] ([IDDept], [Name], [Status]) VALUES (1, N'Tecnología', 1)
INSERT [dbo].[tdepts] ([IDDept], [Name], [Status]) VALUES (2, N'Seguridad', 1)
SET IDENTITY_INSERT [dbo].[tdepts] OFF
SET IDENTITY_INSERT [dbo].[temployees] ON 

INSERT [dbo].[temployees] ([IDEmployees], [RealID], [FName], [LName], [IDJobs], [IDDept], [Salary], [IDSkills], [IDTraining], [IDExp], [IDLangs], [Recommended], [IDType], [Status]) VALUES (1, CAST(1 AS Numeric(15, 0)), N'Enrique', N'Eusebio', 1, 1, 45000.0000, 1, 1, 1, 1, NULL, 1, 1)
INSERT [dbo].[temployees] ([IDEmployees], [RealID], [FName], [LName], [IDJobs], [IDDept], [Salary], [IDSkills], [IDTraining], [IDExp], [IDLangs], [Recommended], [IDType], [Status]) VALUES (2, CAST(1 AS Numeric(15, 0)), N'MANUEL', N'MENDEZ', 1, 1, 40000.0000, 3, 2, 2, 1, N'JUAN FRIAS', 1, 1)
SET IDENTITY_INSERT [dbo].[temployees] OFF
SET IDENTITY_INSERT [dbo].[texps] ON 

INSERT [dbo].[texps] ([IDExp], [JobName], [Place], [FromDate], [ToDate], [Salary], [Status]) VALUES (1, N'Soporte Tecnico I', N'Universidad APEC', CAST(N'2019-01-01' AS Date), CAST(N'2020-01-01' AS Date), 20000.0000, 1)
INSERT [dbo].[texps] ([IDExp], [JobName], [Place], [FromDate], [ToDate], [Salary], [Status]) VALUES (2, N'Técnico de Impresoras', N'UNICARIBE', CAST(N'2018-10-10' AS Date), CAST(N'2018-12-31' AS Date), 15000.0000, 1)
SET IDENTITY_INSERT [dbo].[texps] OFF
SET IDENTITY_INSERT [dbo].[tjobs] ON 

INSERT [dbo].[tjobs] ([IDJobs], [Name], [IDRisk], [MinSalary], [MaxSalary], [Status]) VALUES (1, N'Soporte Tecnico I', 2, 20000.0000, 25000.0000, 1)
INSERT [dbo].[tjobs] ([IDJobs], [Name], [IDRisk], [MinSalary], [MaxSalary], [Status]) VALUES (2, N'Soporte Tecnico II', 2, 30000.0000, 35000.0000, 1)
INSERT [dbo].[tjobs] ([IDJobs], [Name], [IDRisk], [MinSalary], [MaxSalary], [Status]) VALUES (3, N'Coordinador de Soporte Tecnico', 2, 45000.0000, 50000.0000, 1)
SET IDENTITY_INSERT [dbo].[tjobs] OFF
SET IDENTITY_INSERT [dbo].[tlangs] ON 

INSERT [dbo].[tlangs] ([IDLangs], [Name], [Status]) VALUES (1, N'Español', 1)
INSERT [dbo].[tlangs] ([IDLangs], [Name], [Status]) VALUES (2, N'Ingles', 1)
INSERT [dbo].[tlangs] ([IDLangs], [Name], [Status]) VALUES (3, N'Frances', 1)
SET IDENTITY_INSERT [dbo].[tlangs] OFF
SET IDENTITY_INSERT [dbo].[tlevel] ON 

INSERT [dbo].[tlevel] ([IDLevel], [Name], [Status]) VALUES (1, N'Bachicher', 1)
INSERT [dbo].[tlevel] ([IDLevel], [Name], [Status]) VALUES (2, N'Grado', 1)
INSERT [dbo].[tlevel] ([IDLevel], [Name], [Status]) VALUES (3, N'Post-grado', 1)
SET IDENTITY_INSERT [dbo].[tlevel] OFF
SET IDENTITY_INSERT [dbo].[trisks] ON 

INSERT [dbo].[trisks] ([IDRisk], [Name], [Status]) VALUES (1, N'Alto', 1)
INSERT [dbo].[trisks] ([IDRisk], [Name], [Status]) VALUES (2, N'Medio', 1)
INSERT [dbo].[trisks] ([IDRisk], [Name], [Status]) VALUES (3, N'Bajo', 1)
SET IDENTITY_INSERT [dbo].[trisks] OFF
SET IDENTITY_INSERT [dbo].[tskills] ON 

INSERT [dbo].[tskills] ([IDSkills], [Name], [Status]) VALUES (1, N'Trabajo en equipo', 1)
INSERT [dbo].[tskills] ([IDSkills], [Name], [Status]) VALUES (2, N'Sentido de urgencia', 1)
INSERT [dbo].[tskills] ([IDSkills], [Name], [Status]) VALUES (3, N'Proactivo', 1)
SET IDENTITY_INSERT [dbo].[tskills] OFF
SET IDENTITY_INSERT [dbo].[ttrainings] ON 

INSERT [dbo].[ttrainings] ([IDTraining], [Name], [IDLevel], [FromDate], [ToDate], [Place], [Status]) VALUES (1, N'Desarrollo de Liderazgo', 7, CAST(N'2021-06-01' AS Date), CAST(N'2021-06-04' AS Date), N'UNICARIBE', 1)
INSERT [dbo].[ttrainings] ([IDTraining], [Name], [IDLevel], [FromDate], [ToDate], [Place], [Status]) VALUES (2, N'Office 365', 6, CAST(N'2021-03-01' AS Date), CAST(N'2021-03-15' AS Date), N'UNAPEC', 1)
INSERT [dbo].[ttrainings] ([IDTraining], [Name], [IDLevel], [FromDate], [ToDate], [Place], [Status]) VALUES (3, N'Lic. Comunicación Digital', 2, CAST(N'2019-01-01' AS Date), CAST(N'2021-06-13' AS Date), N'UNAPEC', 1)
SET IDENTITY_INSERT [dbo].[ttrainings] OFF
SET IDENTITY_INSERT [dbo].[ttype] ON 

INSERT [dbo].[ttype] ([IDType], [Name], [Status]) VALUES (1, N'Empleado', 1)
INSERT [dbo].[ttype] ([IDType], [Name], [Status]) VALUES (2, N'Solicitante ', 1)
SET IDENTITY_INSERT [dbo].[ttype] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 6/17/2021 5:51:09 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 6/17/2021 5:51:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 6/17/2021 5:51:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 6/17/2021 5:51:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 6/17/2021 5:51:09 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 6/17/2021 5:51:09 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[temployees]  WITH CHECK ADD  CONSTRAINT [FK_temployees_tdepts] FOREIGN KEY([IDDept])
REFERENCES [dbo].[tdepts] ([IDDept])
GO
ALTER TABLE [dbo].[temployees] CHECK CONSTRAINT [FK_temployees_tdepts]
GO
ALTER TABLE [dbo].[temployees]  WITH CHECK ADD  CONSTRAINT [FK_temployees_texps] FOREIGN KEY([IDExp])
REFERENCES [dbo].[texps] ([IDExp])
GO
ALTER TABLE [dbo].[temployees] CHECK CONSTRAINT [FK_temployees_texps]
GO
ALTER TABLE [dbo].[temployees]  WITH CHECK ADD  CONSTRAINT [FK_temployees_tjobs] FOREIGN KEY([IDJobs])
REFERENCES [dbo].[tjobs] ([IDJobs])
GO
ALTER TABLE [dbo].[temployees] CHECK CONSTRAINT [FK_temployees_tjobs]
GO
ALTER TABLE [dbo].[temployees]  WITH CHECK ADD  CONSTRAINT [FK_temployees_tlangs] FOREIGN KEY([IDLangs])
REFERENCES [dbo].[tlangs] ([IDLangs])
GO
ALTER TABLE [dbo].[temployees] CHECK CONSTRAINT [FK_temployees_tlangs]
GO
ALTER TABLE [dbo].[temployees]  WITH CHECK ADD  CONSTRAINT [FK_temployees_tskills] FOREIGN KEY([IDSkills])
REFERENCES [dbo].[tskills] ([IDSkills])
GO
ALTER TABLE [dbo].[temployees] CHECK CONSTRAINT [FK_temployees_tskills]
GO
ALTER TABLE [dbo].[temployees]  WITH CHECK ADD  CONSTRAINT [FK_temployees_ttrainings] FOREIGN KEY([IDTraining])
REFERENCES [dbo].[ttrainings] ([IDTraining])
GO
ALTER TABLE [dbo].[temployees] CHECK CONSTRAINT [FK_temployees_ttrainings]
GO
ALTER TABLE [dbo].[temployees]  WITH CHECK ADD  CONSTRAINT [FK_temployees_ttype] FOREIGN KEY([IDType])
REFERENCES [dbo].[ttype] ([IDType])
GO
ALTER TABLE [dbo].[temployees] CHECK CONSTRAINT [FK_temployees_ttype]
GO
ALTER TABLE [dbo].[tjobs]  WITH CHECK ADD  CONSTRAINT [FK_tjobs_trisks] FOREIGN KEY([IDRisk])
REFERENCES [dbo].[trisks] ([IDRisk])
GO
ALTER TABLE [dbo].[tjobs] CHECK CONSTRAINT [FK_tjobs_trisks]
GO
ALTER TABLE [dbo].[ttrainings]  WITH CHECK ADD  CONSTRAINT [FK_ttrainings_tlevel] FOREIGN KEY([IDLevel])
REFERENCES [dbo].[tlevel] ([IDLevel])
GO
ALTER TABLE [dbo].[ttrainings] CHECK CONSTRAINT [FK_ttrainings_tlevel]
GO
USE [master]
GO
